.input {
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #ccc;
}

.input > div {
    margin-bottom: 15%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}



.input input {
    border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    font-size: 15px;
    padding: 5px 5px;
    width: 100%;
}

.col-lg-3 {
    margin-top: 8%;
    text-align: right;
}



.col-lg-12 {
    text-align: center;
    margin-top: 8%;
}


.custom-select {
    border-radius: 4px;

    margin-bottom: 5%;
    margin-top: 5%;
    width: 90%;
}

.selectpicker {
    width: 35%;
    padding: 5px 5px;
    background: #fff;
    border: 1px solid #bbb;
    cursor: pointer;
    outline: none;
    margin-right: 2%;
    border-radius: 4px;
}


.col-lg-4 {
    text-align: right;

}

.submit-btn {
    float: right;
    padding-right: 10%;
}


