.component-search-input {
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.component-search-input > div {
    margin: 15px 10px 10px 10px;
}

.component-search-input input {
    border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 8px;
    width: 100%;
}

.imtge {
    text-align: center;
}