.main-window {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.main-window > img {
    text-align: center;
}

.btn_admin {
    margin-top: 1%;
}

img {
    margin: 0 auto;
    margin: 1%;
    height: 150px;
}

.btn-group-lg {
    margin: 5%;
    text-align: center;
}

.btn-generic {
    background-color: #003852;
    width: 25%;
}
.btn-generic:hover {
    border-color: #ac821e;
    background-color: #ac821e;
}

.btn-logout {
    background-color: #be0d04;
    border-color: #be0d04;
}

.btn-logout:hover{
    border-color: #8e0904;
    background-color: #8e0904;
}
