.main-window {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.main-window > img {
    text-align: center;
}

.btn_admin {
    margin-top: 1%;
}

img {
    margin: 0 auto;
    margin: 1%;
    height: 150px;
}

.btn-group-lg {
    margin: 5%;
    text-align: center;
}

.btn-generic {
    width: 25%;
    background-color: #003852;
}

.btn-danger {
    width: 25%;
}
