.main-window {
    margin-top: 15%;
    margin-left: 10%;
    text-align: center;
}

.main-window > img {
    text-align: center;
}

.btn_admin {
    margin-right: 2.5%;
    margin-top: 5%;
}

img {
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 40%;
    height: 150px;
}

.btn-group-lg {
    margin-left: 35%;
}