.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.ListGroupChart {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.App-header {
  background-color: #004c52ff;
  height: 80px;
  padding: 20px;
  color: white;
}

.MenuVotacions {
  float:right;
  height: 200px;
  width: 50%;

}

.MenuVotacions2 {
  float:left;
  height: 200px;
  max-width: 50%;

  border-top: 1px solid green;
  border-bottom: 1px solid green;
  border-left: 1px solid green;
  border-right: 1px solid green;
}

.menus {
  display: inline;
  margin-right: 50px;

}

.App-body {
  display: inline;
}

.llista {
  margin-bottom: 10px;
}


.App-title {
  font-size: 2.5em;
  font-style: italic;
  text-align: center;
  font-family: "DejaVu Serif";
}




.App-intro {
  font-size: large;
}


.component-app {
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


