.main-window {
    margin-top: 2%;
    margin-left: 7%;
    text-align: left;
}

.main-window-2 {
  margin: 8%;
  margin-top: 2%;
  text-align: center;
}

#dynamic-first {
    width: 25%;
}

#description {
    width: 25%;
}

#addOption {
    width: 15%;
    margin: 10px;
}

.options{
    width: 25%;
    margin: 10px;
}

.option-description{
    width: 25%;
    margin: 10px;
}

.remove-button {
    width: 15%;
    margin: 10px;
}

.submit-button {
    width: 15%;
    margin: 10px;
}
