body {
    font-family: 'Roboto', sans-serif;
}

.main-window {
    margin-top: 2%;
    margin-left: 7%;
    text-align: left;
}

.main-window-2 {
  margin: 8%;
  margin-top: 2%;
  text-align: center;
}

#dynamic-first {
    width: 25%;
}

#description {
    width: 25%;
}

#addOption {
    width: 15%;
    margin: 10px;
}

.options{
    width: 25%;
    margin: 10px;
}

.option-description{
    width: 25%;
    margin: 10px;
}

.remove-button {
    width: 15%;
    margin: 10px;
}

.submit-button {
    width: 15%;
    margin: 10px;
    background-color: #003852;
    border-color: #003852;
}

.submit-button:hover {
    background-color: #ac821e;
    border-color: #ac821e;
}

.botosweet {
    background-color: #003852;
    color: white;
}

.botosweet:hover {
    background-color: #ac821e;
    color: white;
}