.custom-navbar {
    background-color: #003852;
    height: 100px;
    padding: 20px;
    max-width: 100%;
}

.navbar-header > a{
    color: white;
    font-family: 'Coustard', serif;
    font-size: 38px;
}

.navbar-nav {
    float: right;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}

.ethervote-image {
    display: block;
    margin: auto;
    padding-top: 5%;
}

.blockchain-text {
    font-family: 'Raleway';
    font-size: 52px;
    margin-top: 2%;
    text-align: center;
}

.join-text {
    font-family: 'Roboto';
    text-align: center;
}

.form-group {
    width: 50%;
    margin: auto;
    padding-bottom: 1%;
}

.register-btn {
    font-size: 16px;
    background-color: #003852;
    margin: auto;
    display: block;
    width: 15%;
}

.register-btn:hover{
    background-color: rgb(234, 235, 236);
    color: #003852;
}
