.ethervote-image {
    display: block;
    margin: auto;
    padding-top: 2%;
    height: 230px;
}

.blockchain-text {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 4%;
}

.join-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.connect-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.form-group {
    width: 80%;
    margin: auto;
    padding-bottom: 1%;
}

.register-btn, .connect-btn {
    font-size: 16px;
    background-color: #003852;
    border-color: #003852;
    margin: auto;
    margin-top: 2%;
    display: block;
    width: 25%;
}

.register-btn:hover, .connect-btn:hover{
    background-color: #ac821e;
    border-color: #ac821e;
}

.col-lg-6{
    padding: 0px;
}

.esquerra{
    padding-left: 10%;
    width: 50%;
}

.dreta {
    padding-right: 10%;
    width: 50%;

}

.link {
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
}

.botosweet {
    background-color: #003852;
    color: white;
}