/* CSS used here will be applied after bootstrap.css */

.navbar-footer-height {
  height: 8%;
}

.navbar51 {
   position: fixed;
   bottom: 0;
   width: 100%;
}

.btn4{
     margin-left: 20px;
     background-color: transparent;
     border: none;
     color: #A9A9A9;
}
