.custom-navbar {
    background-color: #003852;
    height: 100px;
    max-height: 100%;
    max-width: 100%;
}

.navbar-brand {
    color: white;
    font-family: 'Coustard', serif;
    font-size: 46px;
}

.btn2, .btn3 {
    margin-left: 20px;
}

.botosweet {
    background-color: #003852;
    color: white;
}

.navbar-nav {
    font-family: 'Noto Sans', sans-serif;
}

.nav-item > a {
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-collapse {
    display: inline;
    margin-left: 50%;
}

a:hover {
    color: white;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}

img{
    max-height: 90px;
}

.btn1:hover, .btn2:hover {
    background-color: #003852;
    border-color: #003852;
    color: #ac821e;
}

.btn3:hover{
    background-color: #003852;
    border-color: #003852;
    color: darkred;
}


.btn1, .btn2, .btn3 {
    background-color: #003852;
    border-color: #003852;
}

