.custom-navbar {
    background-color: #003852;
    height: 100px;
    max-width: 200%;
}

.navbar-brand {
    color: white;
    font-family: 'Coustard', serif;
    font-size: 46px;
}

.botohome {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    display:inline-block;
}

.btn2 {
    margin-left: 20px;
}

.botosweet {
    background-color: #003852;
    color: white;
}


.botodesplegable {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    display:inline-block;
}



.navbar-nav {
    font-family: 'Noto Sans', sans-serif;
}

.nav-item > a {
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-collapse {
    display: inline;
    margin-left: 73%;
}

.navbar-header > a {
    color: white;
    text-decoration: none;
}

.navbar-header > a:hover {
    color: white;
}

a:hover {
    color: white;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}
