.custom-navbar {
    background-color: #003852;
    height: 100px;
    padding: 20px;
    max-width: 100%;
}

.navbar-brand {
    color: white;
    font-family: 'Coustard', serif;
    font-size: 38px;
}

.navbar-nav {
    float: right;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-nav > li > a {
    color: white;
    padding-left: 15%;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}