.votation-header {
    background-color: #003852;
    height: 100px;
    padding: 20px;
    color: white;
    text-align: center;
}

.titol {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.enrere {
    background-color: darkred;
}

.opcions {
    text-align: center;
    margin: auto;
}

.votar {
    margin-right: 2%;
}

.votations {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.botosweet {
    background-color: #003852;
    color: white;
}


.text {
    margin-top: 2%;
    text-align: center;
}

.title {
    font-size: 24px;
    text-align: center;
}

.description {
    font-size: 14px;
    text-align: center;
    color: #585858;
}

.LGI {
    color: black;
}