.votation-header {
    background-color: #003852;
    height: 100px;
    padding: 20px;
    color: white;
    text-align: center;
}

.opcions {
    text-align: center;
}

.votar {
    margin-right: 2%;
}

.enrere {
    margin-left: 2%;
}

.votations {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.text {
    margin-top: 2%;
    text-align: center;
}

.title {
    font-size: 24px;
}

.description {
    font-size: 14px;
}