.DP {
    margin-top: 2%;
    padding-left: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 7%;
}

.center {
    margin-top: 15%;
    margin-right: 5%;
    text-align: right;
}
.ListGroupChart {
    border: 1px solid #000000;
}

.back-btn {
    font-size: 16px;
    background-color: darkred;
    border-color: darkred;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    width: 15%;
}

.component-app {
    display: flex;
    flex-direction: column;;
    flex-wrap: wrap;
    height: 100%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 7%;
}

.createPoll {
    font-size: 18px;
    margin-top: 1%;
    margin-right: 10%;
    background-color: #34517e;
}

.back {
    font-size: 16px;
    float: right;
    margin-top: 3%;
    margin-right: 8%;
    width: 15%;
}

#dropdown-no-caret{
    color: white;
    background-color: #003852;
    border-color: #003852;
    font-size: 18px;
    margin-top: 7%;
    float: left;
}

#create-explanation {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.LGI {
    color: black ;
}

.logout {
    background-color: #003852;
    color: white;
    font-size: 18px;
    padding-left: 15%;
}

.logout:hover {
    color: white;
}

a {
    color: black;
}

.back {
    margin-bottom: 3%;
}
